.slider-container {
    position: relative;
    max-width: 100%;
    height: 500px;
    margin: 50px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.slider {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    height: 100%;
    position: relative;
}

.slide-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
    color: white;
    padding: 30px;
    padding-top: 60px;
}

.slide-content h2 {
    font-size: 2rem;
    margin-bottom: 15px;
    text-shadow: 1px 1px 3px rgb(0, 0, 0, 0.5);

}

.slide-content p {
    font-size: 1rem;
    margin-bottom: 15px;
}

.btn {
    display: inline-block;
    background: #ff6b6b;
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
}

.btn:hover {
    background: #f84444;
    transform: translateY(-2px);
}

.slider-controls {
    position: absolute;
    top: 50%;
    width: 1005;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50px);
    z-index: 10;
}

.control-btn {
    background: rgba(255, 255, 255, 0.7);
    color: #333;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 1.5rem;
    cursor: pointer;
    margin: 0 15px;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;

}

.control-btn:hover {
    background: white;
    transform: scale(1.1);
}

.slider-dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50px);
    display: flex;
    z-index: 10;
}

.dot {
    width: 12px;
    height: 12px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    margin: 0.5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dot.active {
    background: white;
    transform: scale(1.2);
}

@media (max-width: 768px) {
    .slider-container {
        height:400px;
    }

    .slide-content{
        padding: 20px;
        padding-top: 40px;

    }

    .slide-content h2 {
        font-size: 1.5rem;
    }

}



